<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/qrnuevo.css' %}">

    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="title-container">
            <h2>Sube tu primer imagen</h2>
        </div>
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{form.as_p}}
            
        <button type="sumbit">Enviar</button>
        </form>
    </div>

</body>
</html>